*.npy
*.stp
# *.png
*.ply
*.PLY
*.pcd
*.pyc
*.jpg
__pycache__
.vscode
*.onnx
*.pt
*.ckpt
*.pth
*.mp4
*.avi
*.engine
*.bin
*.pkl
*.ply
*.zip
/data
/training_workspace

# except for the following files
!/assets/*.jpg
!/field/RMUC2025_Regional.PLY
!/field/RMUC2025_National.PLY
!/interface/calib_tutorial.jpg
!/docs/*.jpg
!/docs/*.png
!/tracker/warmup_image.jpg
!/demo/*.jpg
!/demo/*.png

callibrate/pic/*

logs/
MvSdkLog/
archive/
driver/motor/build/
.cursor/

lisar/outputs/*

.codex

record_path/
.agents/

darts/
runs/
